*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer{
    width: 100%;
    overflow-y: hidden;
    
}

header{
    display: flex;
    justify-content: space-between;
    background: gainsboro;
    color: gray;
    padding: 10px 40px;
    transition: all 2s;
    
}
#close{
    display: none;
}

#opens{
    display: none;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    padding: 7px 20px;
}

header nav ul li a{
    color: gray;
    text-decoration: none;
    display: block;
}




@media screen and (max-width: 992px) {
    header{
        position: relative;
        width: 100%;
        padding: 20px;
        
    }

    header nav{
        background-color: gold;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
       padding-top: 10px;
       top: -100vh;
       border-bottom-left-radius: 50%;
       border-bottom-right-radius: 50%;
       right: 0;
    }
    header nav ul{
        margin-bottom: 250px;
    }

    header nav ul li{
        display: block;
        padding: 10px 5px;
        border: 1px solid white;
        border-radius: 20px;
    }

    header .menu{
        position: absolute;
        right: 20px;
        top: 16px;
    }

    header .menu img{
        width: 40px;
        height: 40px;
    }

    #close{
        display: block;
    }
    
    #opens{
        display: block;
    }
    .logo h3{
        font-size: 17px;
    }
}